.css-152mnda-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px !important;
}
.css-1gywuxd-MuiInputBase-root-MuiOutlinedInput-root {
  padding-inline: 2px !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
